<style>
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
html {
    scroll-behavior: smooth; 
  }
@font-face {
    font-family: Open_Sans;
     src: url("assets/fonts/Open_Sans.ttf");
   }
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    background: ;
  }
* {
    box-sizing: border-box;
  }
  .header {
    border: 1px;
}
  .main{
    border: 1px;
    min-height: 100vh;
  }
  .footer{
     border: 1px;
     background:#797a79;
     padding: 20px;
    }

  .container {
     max-width: 1440px;
     margin: 0 auto;  
      }
  .footer-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        color: #fff;
    }
      .nav-list {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .nav-link {
        transition: .3s;
        padding: 0 20px;
        line-height: 50px;
        color: #000000;
      }
      .section-item {
        list-style: none;
        position: relative;
        padding-left: 30px;
      }
      .main-container {
        display: flex;
        flex-wrap: wrap;
      }
      .section {
        width: 50%;
      }
      .section-title {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #829985;
      }
      .title {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #829985;
      }
      .link {
        text-decoration: none;
        color: #fff;
        transition: color 0.5s;
      }  
      .link1 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        transition: color 0.5s;
      }        
      .link:hover {
        color: #000000;
      }
      .section-item {
        position: relative;
        padding-left: 30px;
      }
     .rss {
        background-image: url("/assets/img/rs_school_js.svg");
        width: 121px;
        height: 45px;
        position:relative;
        top: 0px;
        left: 500px;    
     }   
  </style>